/* You can add global styles to this file, and also import other style files */

body { margin: 0; }
.container { width: 90vw; margin: 0 auto; position: relative; }

image-cropper { background: rgb(220,220,220); }
.moocow_cover { display: none; }
.moocow { display: block !important; position: fixed !important; left: 0; top: 0; width: 100%; height: 100%; background-color: rgba(0,0,0.5);  }


